.slider-content {
  position: absolute; display: table;
  top:0;
  width: 93vw; height: 70vh;
  margin: 1vh 3vw;
  border-radius: 10px;
  background-color: #343638;
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.4);
  cursor: pointer; cursor: hand;
}
.slider-content.current {cursor: default; pointer-events: none;}
.content-wrapper {
  position: relative; display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding:0 20% 0 20%;

  /* hide the slide content if the slide is not selected/visible */
  opacity: 0;
  border-radius: inherit;
  transition: opacity 0.5s ease-in-out;
}
.current .content-wrapper {
  opacity:1
}


@media only screen and (max-width: 768px) {
  .content-wrapper {padding:0 5% 0 5%;}
}
