/*
PALETTE :

Dark Background : #303234
Late evening blue : #45484B
Moonlight brown : #696758
Moonlight cloud : #C5BC8E
Light Moon : #EEE6AB
*/

html, body {
  position: relative;
  height: 100%;
  background-color: #303234;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.vertical-slider, .horizontal-slider {
  width: 100vw; height: 79vh;
  margin-left: auto;
  margin-right: auto;
}
.vertical-slider {
  padding: 140px 0px 20px 0px;
}
.horizontal-slider .swiper-slide {width:90vw;}
@media only screen and (max-width: 768px) {
  .vertical-slider {padding-top:100px;height: 80vh;}
  .horizontal-slider .swiper-slide {width:92vw;}
}
