/*
PALETTE :

Dark Background : #303234
Late evening blue : #45484B
Moonlight brown : #696758
Moonlight cloud : #C5BC8E
Light Moon : #EEE6AB
*/

html, body {
  position: relative;
  height: 100%;
  background-color: #303234;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 99vw; height: 79vh;
  padding: 140px 0px 20px 0px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .swiper-container {padding-top:100px;height: 80vh;}
}
